.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  padding: 20px;
}

.Link{
text-decoration: none;
color: black;

}
.nav{
display: flex;


}
.nav-items{
float: left;
margin-top: 20px;
margin-left: 100px;
margin-right: 20px;
text-decoration: none;
color: antiquewhite;
background-color: brown;
display: block;
width: 80px;
height: 40px;
text-align: center;
padding-top: 15px;

}
.data-fire{
text-align: left;
}
.login-display{
float: left;
margin-top: 60px;
margin-left: 20px;
}
nav{
display: flex;
font-size: 20px;
}
.nav-item{
float: left;
margin-top: 23px;
margin-left: 100px;
margin-right: 20px;
text-decoration: none;
color: antiquewhite;
background-color: brown;
display: block;
width: 80px;
height: 40px;
text-align: center;
padding-top: 15px;
cursor: pointer;
}
.nav-items:hover{
float: left;
margin-top: 20px;
margin-left: 100px;
margin-right: 20px;
text-decoration: none;
color: antiquewhite;
background-color: rgb(230, 55, 55);
display: block;
width: 80px;
height: 40px;
text-align: center;
padding-top: 15px;

}
.nav-item:hover{
float: left;
margin-top: 23px;
margin-left: 100px;
margin-right: 20px;
text-decoration: none;
color: antiquewhite;
background-color: rgb(230, 55, 55);
display: block;
width: 80px;
height: 40px;
text-align: center;
padding-top: 15px;
cursor: pointer;
}
.form{
  padding-top: 60px;
  margin-left: 60px;
}

